openapi: 3.0.3
info:
  title: Hotel Member API
  description: ホテル会員管理API - プライバシー保護特化
  version: 1.0.0

servers:
  - url: https://member.hotel-common.jp/api/v1
    description: Production server
  - url: http://localhost:3200/api/v1
    description: Local development server

paths:
  /members:
    get:
      summary: 会員一覧取得
      tags: [Members]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 会員一覧
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Member'
    
    post:
      summary: 新規会員登録
      tags: [Members]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMemberRequest'
      responses:
        '201':
          description: 会員登録成功

  /loyalty-points:
    get:
      summary: ポイント履歴取得
      tags: [Loyalty]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: ポイント履歴

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Member:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        firstName:
          type: string
        lastName:
          type: string
        membershipLevel:
          type: string
          enum: [bronze, silver, gold, platinum]
        loyaltyPoints:
          type: integer
        tenantId:
          type: string

    CreateMemberRequest:
      type: object
      required: [email, firstName, lastName]
      properties:
        email:
          type: string
          format: email
        firstName:
          type: string
        lastName:
          type: string